* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  background: linear-gradient(40deg, rgb(52, 0, 0), rgb(14, 13, 47), rgb(77, 0, 0));
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  backdrop-filter: blur(100px);


}



.container {
  width: 700px;
  background-color: rgba(66, 0, 62, 0.3);
  border-radius: 10px 0 20px 0;
  margin-top: 100px;
  display: grid;
  justify-content: center;
  box-shadow: 2px 2px 10px 2px rgba(66, 0, 62, 0.3);
  border-left-style: ridge;
}

h1 {
  margin: 10px 0;
  color: white;
  text-align: center;
  user-select: none;
}


.manage {
  width: inherit;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.color-palette {
  width: 85px;
  background-color: rgb(183, 169, 255);
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  top: 0; 
  left: 30px;
}

.color-option {
  width: 15px;
  height: 15px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.manage input {
  width: 70%;
  padding: 10px;
  border-radius: 8px 0;
  border: none;
  background-color: rgba(2, 2, 2, 0.4);
  color: white;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  flex-wrap: wrap;
}

.manage button {
  padding: 10px 20px;
  border-radius: 8px 0px;
  border: none;
  background-color: rgb(46, 0, 44);
  color: white;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  transition: background-color  0.3s;
  border-right-style: ridge;
  border-left-style: ridge;
  border-right-color: white;
  border-left-color: white; 
} 

.manage button:hover {
  background-color: rgb(177, 0, 50);
}

.filter {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  gap: 30px;

}

.filter button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  border-style: groove;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter button:hover {
  background-color: rgba(197, 0, 10, 0.4);
}

.task {
  display: grid;
  justify-content:center;
  margin: 30px 0;
  justify-items: center;
  
}

.task p {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.switch {
  position: absolute;
  top: 30px;
  right: 140px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.darkMode {
  width: 80px;
  height: 36px;
  background-color: rgba(118, 0, 71, 0.974);
  position: absolute;
  border-radius: 80px;
  box-shadow: 2px 2px 10px 2px rgb(118, 0, 71);
  cursor: pointer;
  transition: 0.3s;

}

.darkMode::before {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 100%;
  transition: 0.3s;
}

.switch input:checked + .darkMode {
  background-color: lightgray;
  box-shadow: 2px 2px 10px 2px rgb(0, 200, 255);
  
}

.switch input:checked + .darkMode::before {
  transform: translateX(45px);
  background-color: black;
}

.task-list {
  width: 500px;
  border-style: groove;
  list-style: none;
  padding: 10px;
  border-radius: 20px 0;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  overflow: hidden;

}

.buttons-tasks {
  width: 100px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}


.delete-all {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  border-radius: 8px;
  border-style: groove;
  cursor: pointer;
  transition: 0.3s;
  color: yellow;
  border-color: yellowgreen;
  box-shadow: 2px 2px 16px 2px rgb(87, 119, 0);
}

.delete-all:hover {
  border-color: red;
  color: red;
  box-shadow: 2px 2px 10px 2px red;
}

.done:hover {
  color: yellowgreen;
}


.trash:hover {
  color: red;
}

.edit:hover {
  color: pink;
}

.palette:hover {
  color: rgb(0, 210, 207);
}




